/*
==============CSS Reset================
From:https://dev.to/hankchizljaw/a-modern-css-reset-6p3
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
==============Global CSS=============
*/

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(235, 235, 235)
}

/* .container{
  max-width: 1240px;
  margin: 0 auto;
} */

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.3em;
}

h3{
  font-size: 1.0em;
}

.show{
  display: block !important;
}

a{
  text-decoration: none;
  color:#707070;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.error{
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  padding: 10px;
}

.float-right{
  float:right;
}

/*
==============To do: needs to be partitioned=============
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.log_but{
  color: white;
  -webkit-text-stroke-color: #2D3B45;
  -webkit-text-stroke-width: 2px;
  margin-left: auto;
  width: 70%;
  height: 200px;
  font-weight: bold;
  background: #EE0612;
  font-size: 50px;
  border-radius: 20px;
  border: 4px solid black;
}

.login_button{
  text-align: center;
  list-style: none;
  margin: 0 auto;
  margin-top: 10%;
  width: 90%;
}

.top_bar{
  margin: 0 auto;
  background-color: red;
  -webkit-text-stroke-color: #2D3B45;
  -webkit-text-stroke-width: 1px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 1%;
  padding-left: 5px;
  padding-top: 5px;
}

.mid{
  color: #2D3B45;
  font-size: 24px;
  font-weight: bold;
  -webkit-text-stroke-color: lightgrey;
  -webkit-text-stroke-width: 0.5px;
  margin-left: 2%;
  margin-top: 2%;
}

.sub_but{
  background-color: red;
  padding: 1% 1% 1% 1%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  -webkit-text-stroke-color: #2D3B45;
  -webkit-text-stroke-width: 1px;
  float: right;
  margin-right: 2%;
}

.form_el{
  margin: 0 auto;
  text-align: right;
  margin-right: 40%;
  padding-top: 4%;

}

.Button {
    border-radius: 10px;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    height: 60px;
    width: 40%;
    display: flex;
    justify-content: center;
    transition-timing-function: ease-in-out;
}

.fade{
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.Student {
    margin: auto;
    margin-top: 1%;
    height: 50px;
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.top_bar{
  margin: none;
  background-color: red;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 1%;
  padding-left: 5px;
  padding-top: 5px;
}


h1{
  text-align: center;
}


/**
==========Main Navigation Bar===========
**/
#navigation-container{
  /* display:flex;
  justify-content: space-between; */
  padding: 10px 0;
  background-color: #b31b1b;
}

#navigation-content{
  display:flex;
  justify-content: space-between;
}

#logo h1{
  color:white;
}

#logo h1{
  line-height:50px;
}

#user_menu {
  width: 100%;
}

#user_menu_nav {
  list-style: none;
  position: relative;
  top: 60px;
  width: 200%;
  background: #a50000;
  display: none;
}

#user_menu_nav a{
  text-decoration: none;
  color:white;
}

#user-profile-icon{
  position: relative;
  border-radius: 50%;
  height:50px;
  width:50px;
  background-color: white;
}

#user-profile-icon:hover{
  cursor: pointer;
}

/**
========== (Assignments) ===========
**/
.content-container{
margin-top: 80px;
}

.page-header{
  margin:20px 0;
}

.assignments-container{
  margin-top: 45px;
}

.assignment{
  background-color: #F7F7F7;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.grade-icon{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #049062;
}

#assignment-header{
  display: flex;
  justify-content: space-between;
}

#dropdown-assignment-selector{
  padding: 10px;
}

#bulkEdit{
  float: right;
}
/**
==========Detailed view of assignments ===========
**/

#detailed-view-box{
  background-color: #F7F7F7;
  padding: 30px;
}

#attachment-downloads{
  list-style: none;
  padding: 0;
  max-width: 40%;
}

#attachment-downloads li{
  border: solid 1px gray;
  display: inline-block;
  padding: 10px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.btn{
  border:none;
  padding: 15px 8px;
  background-color: #B31B1B;
  color: white;
  float: right;
}

#submit-feedback-btn{
  margin:15px 0 0;
}

#header-container{
  display: flex;
  justify-content: space-between;
}

#grade-box {
  padding: 10px 15px;
  margin-top: 15px;
  font-weight: 600;
  border: 1px solid gray;
  background-color: white;
  margin-bottom: 30px;
}

#grade {
  font-size: 2em;
  width: 60px;
  height: 60px;
  padding: 2px;
  border: none;
}

#grade::-webkit-input-placeholder {
    font-size: 10px;
}

span#out-of-text {
  margin: 0 10px;
  color: gray;
}

span#total-grade {
  font-size: 2.8em;
  color: gray;
}

/*===================Spinner loading icon=======================*/
#spinner_icon{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  z-index: 999;
}

#spinner_icon .spinner-border.spinner-border-lg{
  height: 5em;
  width: 5em;
}

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}

/*======================Bread crumbs=====================*/
ol.breadcrumb{
  margin-top: 40px;
  font-size: 18px;
}

.breadcrumb{
  background-color: white !important;
}

/*======================Bulk edit form======================*/
.feedback-container{
  background-color: #F7F7F7;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  margin-bottom: 15px;
}

#name-grade-container{
  display: flex;
  justify-content: space-between;
}

.quick-edit-submission {
  background-color: #F7F7F7;
  padding: 20px;
  margin-bottom: 10px;
}

#student_name{
  font-size: 1em;
  font-weight: 500;
}

#grade_input{
  padding: 0;
  margin: 0;
}

#grade_input input input::-webkit-outer-spin-button,
#grade_input  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#grade_input input[type=number] {
  -moz-appearance: textfield;
}


#student_name::first-letter {
  text-transform: uppercase;
}

.feedback-form{
  width: 100%;
  height: 100px;
  resize: none;
  margin-top: 10px;
}

.out-of-text{
  margin-right: 10px;
}
/* .feedback-form{
  width: 100%;
  height: 100px;
}

.grade-box-bulk{
  display: flex;
  position: relative;
  top: -80px;
  padding: 15px;
} */
.auto-save-show {
  color: #3CB371;
  display: block;
  margin: 0;
  margin-top: 5px;
}

.auto-save-hidden{
  display: none;
}
